# oauth2-proxy config для pb-create.local (PrivateBin)

provider        = "oidc"
oidc_issuer_url = "https://KEYCLOAK_HOST/realms/KEYCLOAK_REALM"
client_id       = "privatebin-bff"
client_secret   = "OAUTH2_CLIENT_SECRET_PB"

redirect_url    = "https://DOMAIN_PB_CREATE/oauth2/callback"
http_address    = "0.0.0.0:4180"

cookie_name     = "_pb_session"
cookie_secret   = "OAUTH2_COOKIE_SECRET"
cookie_secure   = true
cookie_httponly = true
cookie_samesite = "lax"
cookie_expire   = "8h"

set_xauthrequest          = true
pass_access_token         = false
pass_authorization_header = false

request_logging  = true
auth_logging     = true
standard_logging = true

skip_auth_routes = ["^/healthz$"]
session_store_type = "cookie"
